# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [75]:
#Emppty dictionary
Dict = {}
type(Dict)

dict

In [76]:
dict1 = dict()
type(dict1)

dict

In [77]:
data = {'Alabama':'Montgomery', 
        'Arizona': 'Pheonix', 
        'Georgia': 'Atlanta', 
        'Kentucky': 'Frankfort', 
        'Ohio': 'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [78]:
data["Ohio"]

'Columbus'

In [79]:
data["Georgia"]

'Atlanta'

In [80]:
# data["New York"]
# Generates a key error if the key is not present in the dictionary.

### Update elements of a dictionary and add new elements

In [81]:
day = {1: 'Monday', 
       2: 'Tuesday', 
       4: ('Thursday', 'Friday'), 
       5: ['Saturday', 'Sunday']}

In [82]:
# Access thursday day[key][index]
day[4][0]

'Thursday'

In [83]:
# Access Sunday
day[5][1]

'Sunday'

In [84]:
day[3] = 'Wednesday'

In [85]:
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday'], 3: 'Wednesday'}

In [86]:
# Update saturday to a holiday
day[5][0] = 'Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [87]:
# Update sunday to a holiday
day[5][1] = 'Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [88]:
# Update thursday to a holiday
day[4][0] = 'Holiday' # Cannot update a tuple
day

TypeError: 'tuple' object does not support item assignment

### `get` and `update` methods
- 'get' used to access a value from dictionary
- 'update' updates the dictionary with new value and also updates the old value

In [89]:
# return wednesday
day.get(3)

'Wednesday'

In [90]:
# access monday
day.get(1)

'Monday'

In [91]:
# Doesn't generate an error if the key is not present
day.get(6)

In [92]:
#day[6] # generates an error

In [93]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Holiday'],
 3: 'Wednesday'}

In [94]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [95]:
# Updates old value
data.update({"Kentucky":"Louisville"})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [96]:
# Makes new value
data.update({"Louisiana":"Baton Rouge"})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [97]:
# Updates and adds
data.update({"Missouri":"Jefferson City", "Kentucky": "Frankfort"})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [98]:
# delete alabama entery using del method
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [99]:
# delete ohio using pop
data.pop("Ohio")

'Columbus'

In [100]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [101]:
# Delete the dictionary 
del data

In [103]:
# Name error as the dictionary no present any more
#data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [105]:
data = {'Alabama':'Montgomery', 
        'Arizona': 'Pheonix', 
        'Georgia': 'Atlanta', 
        'Kentucky': 'Frankfort', 
        'Ohio': 'Columbus'}

In [106]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [107]:
data.values()

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus'])

In [108]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary

In [116]:
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [117]:
# Unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Pheonix
Atlanta
Frankfort
Columbus

In [120]:
# Dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [125]:
# Unpack dictionary items
for j,k in data.items():
    print("State: ", j)
    print("Capital: ", k)

  State:  Alabama
Capital:  Montgomery
  State:  Arizona
Capital:  Pheonix
  State:  Georgia
Capital:  Atlanta
  State:  Kentucky
Capital:  Frankfort
  State:  Ohio
Capital:  Columbus

### Convert dictionary to lists using `list()` function

In [130]:
# Dictionary keys to a list
data.keys()
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [131]:
# Dictionary values to a list
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: How to unpack all of the entrys

In [133]:
favLang = {"jen":["python", "ruby"],
           "sara":["C"],
           "edward":["Ruby", "java"],
           "phil":["python", "java"]}

In [142]:
for name, subjects in favLang.items():
    print(f"The name is {name.title()}. The favorite languages are:")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is Jen. The favorite languages are:
						 python
						 ruby
The name is Sara. The favorite languages are:
						 C
The name is Edward. The favorite languages are:
						 Ruby
						 java
The name is Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [145]:
user = {"est":{"first":"albert", "last":"einstein", "location":"princton"}, "mcurie":{"first":"marie", "last":"Curie", "location":"paris"}}

In [146]:
# albert
user["est"]["first"]

'albert'

In [147]:
# paris
user["mcurie"]["location"]

'paris'

In [154]:
for username, userInfo in user.items():
    print(f"Username: {username}")
    fullName = userInfo['first']+ " " +userInfo["last"]
    print("Full name: " + fullName)
    print("Location: " + userInfo["location"])

Username: est
Full name: albert einstein
Location: princton
Username: mcurie
Full name: marie Curie
Location: paris